﻿<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" ng-model="Vehicle.Year" />
        </div>
        <div class="form-group">
            <label>Make</label>
            <input type="text" class="form-control" ng-model="Vehicle.Make" />
        </div>
        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" ng-model="Vehicle.Model" />
        </div>
        <button class="btn btn-success" ng-click="save()">Save Car</button>
    </div>
</div>