﻿<div class="row">
    <a href="/Car/AddCar" class="btn btn-primary" type="submit" >Add</a>
    <a href="/Admin/ListOfRequests" class="btn btn-primary" >List of Requests</a>
</div>

<div class="row">
    <div class="col-sm-4">
        <h6>Year Filter</h6>
        <input type="text" ng-model="carFilter"/>
        <h6>Make Filter</h6>
        <input type="text" ng-model="makeFilter"/>
    </div>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in Vehicle | filter:{Year:carFilter,Make:makeFilter} | orderBy:'Make'">
                <td>{{car.Year}}</td>
                <td>{{car.Make}}</td>
                <td>{{car.Model}}</td>
                <td><a href="/Car/CarDetail?VehicleId={{car.VehicleId}}" class="btn btn-info"  value="{{car.VehicleId}}">View Car</a></td>
                <td><a href="/Car/EditCar?VehicleId={{car.VehicleId}}" class="btn btn-primary"  value="{{car.VehicleId}}">Edit car</a></td>
                <td><a href="/Car/RemoveCar?VehicleId={{car.VehicleId}}" class="btn btn-danger" value="{{car.VehicleId}}">Delete car</a></td>
              
                
            </tr>
            </tbody>
        </table>
    </div>
</div>