﻿<div class="col-sm-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Vehicle.Year}}</td>
                <td>{{Vehicle.Make}}</td>
                <td>{{Vehicle.Model}}</td>
            </tr>
        </tbody>
    </table>
</div>