﻿@model Exercises.Models.Data.Course
@{
    ViewBag.Title = "AddCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Course</h3>
        @Html.ActionLink("Return to Courses", "Courses", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        { 
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Course Name</label>
                @Html.TextBoxFor(c => c.CourseName, new { @class = "form-control", placeholder = "Add a Course" })
                @Html.ValidationMessageFor(m => m.CourseName)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add New Course</button>
        }
    </div>
</div>      

