﻿@model Exercises.Models.Data.Major

@{
    ViewBag.Title = "Add Major";
}


<div class="row">
    <div class="col-xs-12">
        <h3>Add Major</h3>
        @Html.ActionLink("Return to Majors", "Majors", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Major Name</label>
                @Html.TextBoxFor(m => m.MajorName, new {@class = "form-control", placeholder = "Add a Major"})
                @Html.ValidationMessageFor(m => m.MajorName)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add New Major</button>
        }
    </div>
</div>      
