﻿@model Exercises.Models.Data.State
@{
    ViewBag.Title = "AddState";
}

<div class="row">
    <div class="col-xs-12">
        <h2>AddState</h2>
        @Html.ActionLink("Return to States", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class=" col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>State Name</label>
                @Html.TextBoxFor(s => s.StateName, new { @class = "form-control", placeholder = "Add a State" })
                @Html.ValidationMessageFor(s => s.StateName)
                <div class="row"></div>
                <label>State Abb</label>
                @Html.TextBoxFor(s => s.StateAbbreviation, new { @class = "form-control", placeholder = "Add a StateAbb" })
                @Html.ValidationMessageFor(s => s.StateAbbreviation)     
            </div>
            <button type="submit" class="btn btn-sm btn-success">Add New State</button>
        }
    </div>
</div>





