﻿@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Courses</h3>
        @Html.ActionLink("Add Course", "AddCourse", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Course</th>                  
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td class="text-center"><h4>There are no Courses to Display</h4></td>
                    </tr>
                }
                @foreach (var course in Model)
                {
                    <tr>
                        <td>
                            @course.CourseName
                        </td>                        
                        <td>
                            @Html.ActionLink("Edit", "EditCourse", "Admin", new { id = course.CourseId }, null) |
                            @Html.ActionLink("Delete", "DeleteCourse", "Admin", new { id = course.CourseId }, null)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


