﻿@model Exercises.Models.Data.Course

@{
    ViewBag.Title = "DeleteCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Course</h3>
        @Html.ActionLink("Return to Courses", "Courses", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(c => c.CourseId)
            <p>Are you sure that you wish to delete the Course @Html.DisplayFor(c => c.CourseName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete @Model.CourseName</button>
            @Html.ActionLink("Cancel", "Courses", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     

