﻿@model Exercises.Models.Data.State
@{
    ViewBag.Title = "EditState";
}

<h2>EditState</h2>
<div class="row">
    <div class="col-xs-12">
        <h3>Edit State</h3>
        @Html.ActionLink("Return to States", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(s => s.StateId)
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(s => s.StateName, new { @class = "form-control", placeholder = "State" })
                @Html.ValidationMessageFor(m => m.StateName)
            </div>
            <div class="form-group">
                <label>StateAbb</label>
                @Html.TextBoxFor(s => s.StateAbbreviation, new { @class = "form-control", placeholder = "State Abb" })
                @Html.ValidationMessageFor(m => m.StateAbbreviation)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      

