﻿@model Exercises.Models.Data.Course

@{
    ViewBag.Title = "EditCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Course</h3>
        @Html.ActionLink("Return to Courses", "Courses", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(c => c.CourseId)
            <div class="form-group">
                <label>Course</label>
                @Html.TextBoxFor(c => c.CourseName, new { @class = "form-control", placeholder = "Course" })
                @Html.ValidationMessageFor(m => m.CourseName)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      
