﻿
@model List<Exercises.Models.Data.State>
@{
    ViewBag.Title = "States";
}
<div class="row">
    <div class="col-xs-12">
        <h3>States</h3>
        @Html.ActionLink("Add State", "AddState", "Admin", null, new { @class = "btn btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>State</th>
                    <th>State Abb</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td class="text-center"><h4>There are no States to Display</h4></td>
                    </tr>
                }
                @foreach (var state in Model)
                {
                    <tr>
                        <td>
                            @state.StateName
                        </td>
                        <td class="text-center">
                            @state.StateAbbreviation
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditState", "Admin", new { id = state.StateId }, null) |
                            @Html.ActionLink("Delete", "DeleteState", "Admin", new { id = state.StateId }, null)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
