﻿html {
    font-family: 'Economica', sans-serif;
    font-size: 115%;
   
}

body {
    font-family: 'Economica', sans-serif;
    font-size: 115%;
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-size: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.banner-image {
    margin-left: 5em;
    margin-right: auto;   
}
h3,h4,h2
{   color: black;
    font-weight: bold;
}

.container {color: #4682b4}

.body-content {
    margin-top: .5em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#newRequest{
    color : red;
}

#newRequest, #request{
    display :inline;
}

