﻿@model CarDealership.Models.Request

@{
    ViewBag.Title = "AddRequest";
}

<h2>AddRequest</h2>

@using (Html.BeginForm("AddRequest", "Admin", null, FormMethod.Post, new {id ="requestForm"}))
{


    <form>
        @Html.HiddenFor(r =>r.VehicleId)
        
        <div class="form-group">
            <label>Customer Name: </label>
            @Html.TextBoxFor(r => r.CustomerName, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Phone: </label>
            @Html.TextBoxFor(r => r.Phone, new {@class = "form-control", placeholder = "Phone"})
        </div>
        <div class="form-group">
            <label>Best Time To Call: </label>
            @Html.EnumDropDownListFor(r => r.TimeToCall, "-Choose One-", new { @class = "form-control"})
        </div>
     
        <div class="form-group">
            <label>Email: </label>
            @Html.TextBoxFor(r => r.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
        <div class="form-group">
            <label>Contact  Method: </label>
            @Html.TextBoxFor(r => r.ContactMethod, new {@class = "form-control"})
        </div>
 
        <div class="form-group">
            <label>Time Frame to Purchase</label>
            @Html.TextBoxFor(r => r.TimeFrame, new { @class = "form-control" })
        </div>
    

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
}
@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/app/jQueryFormValidation.js"></script>
    <script src="~/Scripts/app/JSFormValidation.js"></script>

}  