﻿@model CarDealership.Models.Request

@{
    ViewBag.Title = "EditRequest";
}

<h2>EditRequest</h2>

@using (Html.BeginForm())
{



    <form>
        @Html.HiddenFor(r =>r.RequestID)

        @Html.HiddenFor(r => r.VehicleId)
   
        <div class="form-group">
            <label>Customer Name </label>
            @Html.TextBoxFor(r => r.CustomerName, new {@class = "form-control", placeholder ="Name"})
        </div>
        <div class="form-group">
            <label>Phone: </label>
            @Html.TextBoxFor(r => r.Phone, new {@class = "form-control", placeholder = "Phone"})
        </div>
        <div class="form-group">

            <label>Best Time To Call</label>
            @Html.EnumDropDownListFor(r => r.TimeToCall, new {@class = "form-control"})

        </div>
        <div class="form-group">
            <label>Email: </label>
            @Html.TextBoxFor(r => r.Email, new {@class = "form-control", placeholder = "Email"})
        </div>
        <div class="form-group">
            <label>Contact Method: </label>
            @Html.TextBoxFor(r => r.ContactMethod, new {@class = "form-control", placeholder = "Contact Method"})
        </div>
        <div class="form-group">
            <label>Make:</label>
            @Html.TextBoxFor(r => r.VehicleName, new { @class = "form-control", placeholder = "Make" })
        </div>
        <div class="form-group">
            <label>Model:</label>
            @Html.TextBoxFor(r => r.VehicleName, new {@class = "form-control", placeholder = "Model"})
        </div>
        <div class="form-group">
            <label>Time Frame For Purchase: </label>
            @Html.TextBoxFor(r => r.TimeFrame, new { @class = "form-control", placeholder = "TimeFrame" })
        </div>
        <div class="form-group">
            <label>Status of Request: </label>
            @Html.EnumDropDownListFor(r => r.StatusOfRequest, new { @class = "form-control" })

        </div>
        
        



        <button type="submit" class="btn btn-success">Submit</button>

    </form>
}