﻿@model List<CarDealership.Models.Request>
@{
    ViewBag.Title = "ListOfRequests";
}

<h2>Vehicle Requests</h2>


<div class="container">
    @foreach (var request in Model)
    {

        <div class="row" id="requestList">
            <div class="col-lg-6">
                <h4>
                    @Html.ActionLink($"{request.RequestID} - {request.CustomerName} - {request.VehicleName}",
                    "RequestDetail", "Admin", new { RequestID = request.RequestID }, null)
                </h4>
                @if(request.StatusOfRequest == CarDealership.Models.RequestStatus.New)
                {
                        <p class ="blink" id="newRequest">NEW REQUEST !!</p>  
                }


                <br/>
            </div>
        </div>
    }
    
</div>
@section scripts{
    <script src="~/scripts/app/BlinkFunction.js"></script>
    <script src="~/scripts/app/blink.js"></script>
}