﻿@model CarDealership.Models.Request

@{
    ViewBag.Title = "RemoveRequest";
}

<h2>Remove Request</h2>


<div class="row">


    <div class="col-xs-12 col-sm-3">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(r=>r.RequestID)
            <p> Are you sure want to delete the request for: @Model.CustomerName - @Model.VehicleName?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ListOfRequests", "Admin", null, new { @class = "btn btn-primary btn-sm" })

        }
    </div>
</div>