﻿@model CarDealership.Models.Request
@{
    ViewBag.Title = "RequestDetail";
}

<h2>Vehicle Information Requests</h2>

<div class="container">
    <div class="row">

     
        @Html.HiddenFor(m => m.RequestID)
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Customer Name: </h5>
        </div>
        <div class="col-sm-6">@Model.CustomerName</div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Phone: </h5>
        </div>
        <div class="col-sm-6">@Model.Phone</div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Best Time To Call: </h5>
        </div>
        <div class="col-sm-6">@Model.TimeToCall</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Email:</h5>
        </div>
        <div class="col-sm-6">@Model.Email</div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Contact Method: </h5>
        </div>
        <div class="col-sm-6">@Model.ContactMethod</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Vehicle Name: </h5>
        </div>
        <div class="col-sm-6">@Model.VehicleName</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Time Frame: </h5>
        </div>
        <div class="col-sm-6">@Model.TimeFrame</div>
    </div>
    <div class="row">
        <div class="col-sm-4">

            <h5>Status of Request: </h5>
        </div>
        <div class="col-sm-6">@Model.StatusOfRequest</div>

    </div>

        @*<div class="row">
                <div class="col-sm-4">
                    <h5>Vehicle ID</h5>
                </div>
                <div class="col-sm-6">@Model.VehicleId</div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h5>Request ID</h5>
                </div>
                <div class="col-sm-6">@Model.RequestID</div>
            </div>*@



    </div>
@Html.ActionLink("Edit", "EditRequest", "Admin", new { RequestID = Model.RequestID },
                                 new { @class = "btn btn-primary" })
@Html.ActionLink("Delete", "RemoveRequest", "Admin", new { RequestID = Model.RequestID },
                                 new { @class = "btn btn-danger" })

