﻿
@{
    ViewBag.Title = "CarPortal";
}

<h2>Cars In Stock</h2>




<div ng-app="carPortalApp" ng-view="">

</div>

@section scripts{
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/routesclient.js"></script>
}