﻿@model CarDealership.Models.Vehicle
@{
    ViewBag.Title = "CarPortalCarDetails";
}


<h2>Vehicle Details</h2>
<h2>@Model.Year - @Model.Make, @Model.Model</h2>

<div class="container">
    <div class="row">
        @Html.HiddenFor(m => m.VehicleId)
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Year:</h5>
        </div>
        <div class="col-sm-6">@Model.Year</div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Vehicle Make:</h5>
        </div>
        <div class="col-sm-6">@Model.Make</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Vehicle Model:</h5>
        </div>
        <div class="col-sm-6">@Model.Model</div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h5>Mileage:</h5>
        </div>
        <div class="col-sm-6">@Model.Mileage</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Price:</h5>
        </div>
        <div class="col-sm-6">@Model.Price</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Vehicle Description:</h5>
        </div>
        <div class="col-sm-6">@Model.Description</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Inventory Status:</h5>
        </div>
        <div class="col-sm-6">@Model.status</div>
    </div>



@Html.ActionLink("Request Info", "AddRequest", "Admin", new { VehicleId = Model.VehicleId },
                                 new { @class = "btn btn-primary" })