﻿@model CarDealership.Models.Vehicle
@{
    ViewBag.Title = "EditCar";
}

<h2>EditCar</h2>


@using (Html.BeginForm())
{
   
    @Html.ActionLink("List of Cars", "Home", "Car", new { VehicleId = Model.VehicleId },
                                 new { @class = "btn btn-primary" })

    <form>
        <div class="form-group">
            @Html.HiddenFor(m=>m.VehicleId)
            <label>Year </label>
            @Html.TextBoxFor(m => m.Year, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Make </label>
            @Html.TextBoxFor(m => m.Make, new { @class = "form-control", placeholder = "Make" })
        </div>
        <div class="form-group">
            <label>Model </label>
            @Html.TextBoxFor(m => m.Model, new { @class = "form-control", placeholder = "Model" })
        </div>
        <div class="form-group">
            <label>Mileage </label>
            @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Price </label>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description </label>
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
        </div>
        <div class="form-group">
            <label>Ad Title</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title for Ad" })
        </div>
        <div class="form-group">
            <label>Current Status</label>
            @Html.EnumDropDownListFor(m => m.status, "-Choose One-", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
}