﻿
@{
    ViewBag.Title = "Home";
}
<h2>Admin Portal</h2>
<div ng-app="carApp" ng-view="">

</div>


@section scripts{
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/routes.js"></script>
}