﻿@model CarDealership.Models.Vehicle
@{
    ViewBag.Title = "RemoveCar";
}

<h2>RemoveCar</h2>
<div class="row">
    @Html.ActionLink("Home", "Home", "Car", new { VehicleId = Model.VehicleId },
                                 new { @class = "btn btn-primary" })
</div>

<div class="row">
   
  
    <div class="col-xs-12 col-sm-3">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.VehicleId)
            <p> Are you sure want to delete @Model.Year @Model.Make @Model.Model?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Home", "Car", null, new {@class = "btn btn-primary btn-sm" })
           
        }
    </div>
</div>
