﻿
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to Ryan's Amazing Student Information System</h2>
        <img src="http://as4eo.com/wp-content/uploads/2016/01/SisLogo.gif"/>
        <p>This system allows you to keep track of current student information, including major declarations and courses.</p>
        <p class="text-danger">This Website is currently in Beta</p>
    </div>
</div>


