﻿@using System.Web.UI.WebControls
@model Exercises.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Add Student</h3>
                <div class="row">
                    @using (Html.BeginForm("Add", "Student", null, FormMethod.Post, new { id = "studentForm" }))

                    {
                        @Html.ValidationSummary(true, "Error: Check For Missing Fields")
                        <div class="col-xs-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control", PlaceHolder = "Enter First Name" })
                                        @Html.ValidationMessageFor(m => m.Student.FirstName)
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control", PlaceHolder = "Enter Last Name" })
                                        @Html.ValidationMessageFor(m => m.Student.LastName)
                                    </div>
                                    <div class="form-group">
                                        <label>Secondary Email:</label>
                                        @Html.TextBoxFor(m => m.Student.SecondaryEmail, new { @class = "form-control", PlaceHolder = "Enter Email" })
                                        @Html.ValidationMessageFor(m => m.Student.SecondaryEmail)

                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        @Html.TextBoxFor(m => m.Student.Phone, new { @class = "form-control", PlaceHolder = "Enter Phone Number" })
                                        @Html.ValidationMessageFor(m => m.Student.Phone)
                                    </div>
                                    <div class="form-group">
                                        <label>Major:</label>
                                        @Html.DropDownListFor(m => m.Student.Major.MajorId, Model.MajorItems, "-Choose Major-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Student.Major.MajorId)
                                    </div>
                                    <div class="form-group">
                                        <label>GPA:</label>
                                        @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control", PlaceHolder = "Enter GPA" })
                                        @Html.ValidationMessageFor(m => m.Student.GPA)
                                    </div>
                                    <h4>Courses (Hold Ctrl to select multiple courses)</h4>
                                    <div class="form-group">
                                        @Html.ListBoxFor(m => m.SelectedCourseIds, Model.CourseItems, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-primary">Add Student</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Address</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Street Address:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control", PlaceHolder = "Enter Street Address" })
                                        @Html.ValidationMessageFor(m => m.Student.Address.Street1)
                                    </div>
                                    <div class="form-group">
                                        <label>City:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.City, new { @class = "form-control", PlaceHolder = "Enter City" })
                                        @Html.ValidationMessageFor(m => m.Student.Address.City)
                                    </div>
                                    <div class="form-group">
                                        <label>State:</label>
                                        @Html.DropDownListFor(m => m.Student.Address.State.StateId, Model.StateItems, "-Choose State-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Student.Address.State.StateId)
                                    </div>
                                    <div class="form-group">
                                        <label>ZipCode:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control", PlaceHolder = "Enter Zip" })
                                        @Html.ValidationMessageFor(m => m.Student.Address.PostalCode)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/app/jquery-validation-default.js"></script>
    <script src="~/Scripts/app/ValidateStudent.js"></script>
}