﻿@model Exercises.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Student</h3>
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(s => s.Student.StudentId)
                        @Html.HiddenFor(s => s.Student.StudentEmail)


                        <div class="col-xs-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Edit Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        @Html.TextBoxFor(m => m.Student.SecondaryEmail, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        @Html.TextBoxFor(m => m.Student.Phone, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Major:</label>
                                        @Html.DropDownListFor(m => m.Student.Major.MajorId, Model.MajorItems, "-Choose Major-", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>GPA:</label>
                                        @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control" })
                                    </div>
                                    <h4>Courses (Hold Ctrl to select multiple courses)</h4>
                                    <div class="form-group">
                                        @Html.ListBoxFor(m => m.SelectedCourseIds, Model.CourseItems, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Address</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Street Address:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>City:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.City, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>State:</label>
                                        @Html.DropDownListFor(m => m.Student.Address.State.StateAbbreviation, Model.StateItems, "-Choose State-", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>ZipCode:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

