﻿@model Exercises.Models.Data.Student

@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Profile for @Model.FirstName @Model.LastName</h3>
                @Html.ActionLink("Return to Students", "List", "Student", new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", "Student", new { id = Model.StudentId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", "Student", new { id = Model.StudentId }, new { @class = "btn btn-danger" })
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Student Email</th>
                        <th>SecondaryEmail</th>
                        <th>Phone</th>
                        <th>Current GPA</th>
                        <th>Address</th>
                        <th>Major</th>
                        <th>Courses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@Model.StudentEmail</td>
                        <td>@Model.SecondaryEmail</td>
                        <td>@Model.Phone</td>
                        <td>@Model.GPA</td>
                        <td>@Model.Address.Street1, @Model.Address.City, @Model.Address.State.StateName, @Model.Address.PostalCode</td>
                        <td>@Model.Major.MajorName</td>
                        <td>
                            @foreach (var course in Model.Courses)
                            {

                                <p>@course.CourseName</p>

                            }
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

