﻿@model List<TagsSpike.Models.Tag>
@{
    ViewBag.Title = "GetTags";
}

<h2>List of Tags Made</h2>

<div class="row">
    <div class="col-xs-10">
        @foreach (var tag in @Model)
        {           
            <span class="tag tag-primary">@tag.Name</span>         
        }
    </div>
</div>
<div class="row">
    @Html.ActionLink("Add More Tags", "AddTags", "Home", new { @class = "btn btn-primary" })
</div>

