﻿<!DOCTYPE html>
<html>
<head>
    
    <link rel="shortcut icon" href="~/Content/Images/Thumbnail Auto.png"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Immutable Auto Sales</title>
    <link href="https://fonts.googleapis.com/css?family=Economica|Play|Volkhov" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    

</head>
<br/>
<body>
    <img src="~/Content/Images/skitter_banner_2.png" class="banner-image" width="1050" height="325"/>
<div class="navbar navbar-inverse navbar-fixed-top" id="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Immutable Auto Sales", "Home", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Admin Portal", "Home", "Car")
                </li>
                <li>
                    @Html.ActionLink("Available Vehicles", "CarPortal", "Car")
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Immutable Auto Sales</p>
    </footer>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/scripts/angular.min.js"></script>
<script src="~/scripts/angular-route.min.js"></script>
@RenderSection("scripts", false)
</body>
</html>